   /* Style for reset selector*/

* {
    	margin: 0;
    	padding: 0;
        box-sizing: border-box;
    }



/* Style for the article */

article h1 {
    font-size: 150;
    margin-top: 10em;
    text-align: center;
}