   /* Style for reset selector*/

* {
    	margin: 0;
    	padding: 0;
       box-sizing: border-box;
    }


/*  Style for the Article area */


article h2{
    margin-top: 15px;
    padding-left: 1.2em;
}

article p{
    line-height: 2;
    padding-left: 1.2em;
    padding-top: 1.2em;
    text-align: justify;
    text-justify: inter-word;
    width: 93%;
}
article img{
    width: 65%;
    margin: 5.5em 10.75em;
    border: 1px solid black;
}

article ul {
    margin-left: 75.5px;
    line-height: 2;
    text-align: justify;
    width: 85%;
}