   /* Style for reset selector*/

* {
    	margin: 0;
    	padding: 0;
    }



/* Style for Article Area*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-top: 1.5em;
    margin-left: 8.5em;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: darkseagreen;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

tr:hover {
    background-color:#f5f5f5;
}
article p{
    margin-left: 8.5em;
    font-style: italic;   
}
article h1{
    margin-top: 15px;
}

#GHN th{
    background-color: orange;
}

#SGN th{
    background-color: goldenrod;
}